{% extends "base.html" %}

{% block main %}
<div class="container">
  <div class="row" style="padding:0 10%">
    <div class="col-md-12">
      <form action="{{ url_for('delete', task_id=task_id) }}" method="post">
        {{ form.csrf_token }}
        <div class="card" style='border:2px solid black; text-align:center'>
          <h3 class='card-header' style='padding:2.5% 0 2.5% 0; text-shadow: 0 2px rgb(200, 70, 70)'>DELETE TASK</h3>
          <br>
          <p class="card-body">Are you sure you want to delete the following task?</p>
          <div class="card-body row">
            <div class="col-md-6" style="text-align:right">
              <h3>{{ title }}</h3>
            </div>
            <div class="col-md-6" style="text-align:center">
              {{ form.submit(class="btn btn-danger") }}
              <a href="{{ url_for('home') }}" class="btn btn-primary">Cancel</a>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock %}
