{% extends "base.html" %}

{% block main %}
<h2 style="text-align:center; text-shadow: 0 2px rgb(200, 70, 70)"><strong>TO-DO LIST</strong></h2>
<div class="container">
  <div class="row">
    {% for task in tasks %}
    <div class="col-md-6">
      <br>
      <div class="card">
        <div class="card-body" style="border:1px solid black; text-align:center;">
          <h3 class="card-title">{{ task.title }}</h3>
          <p>Added on {{ task.date }}</p>
          <a href="{{url_for('edit',task_id=task.id)}}" class="btn btn-primary">Edit</a>
          <a href="{{url_for('delete',task_id=task.id)}}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}